<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="5.2.0" targetFramework="net461" />
  <package id="Autofac.Extras.Moq" version="5.0.1" targetFramework="net461" />
  <package id="Castle.Core" version="4.4.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="JetBrains.dotCover.CommandLineTools" version="2020.2.1" targetFramework="net461" developmentDependency="true" />
  <package id="JustMock" version="2020.2.616.1" targetFramework="net461" />
  <package id="JustMock.EntityFramework" version="2015.3.929.5" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net461" />
  <package id="Moq" version="4.14.5" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="2.1.2" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="2.1.2" targetFramework="net461" />
  <package id="NUnit" version="3.12.0" targetFramework="net461" />
  <package id="NUnitTestAdapter.WithFramework" version="2.0.0" targetFramework="net472" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
</packages>