<div class="container">
	<div class="table-responsive" style="margin-top: 30px;">
		<table id="carListTable" class="table bordered highlight">
			<thead>
				<tr>
					<th>
						<input type="checkbox" (change)="updateSelected($event.target.checked)" />
					</th>
					<th>Name</th>
					<th>Producator</th>
					<th>Category</th>
					<th>List Price</th>
					<th>Our Price</th>
					<th>Active?</th>
					<th>Operation</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor = "let car of carList">
					<td>
						<input hidden="hidden" name="id" />
						<input type="checkbox" [checked]="allChecked" (change)="updateRemoveCarList($event.target.checked, car)" />
					</td>
					<td><a (click)="onSelect(car)" style="cursor:pointer">{{car.name}}</a></td>
					<td>{{car.producator}}</td>
					<td>{{car.category}}</td>
					<td>{{car.listPrice}}</td>
					<td>{{car.ourPrice}}</td>
					<td>{{car.active}}</td>
					<td>
						<input hidden="hidden" name="id" />
						<button mat-button (click)="openDialog(car)" value="delete"><span class="fa fa-times"></span> delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<button mat-raised-button class="mat-warn" id="deleteSelected" (click)="removeSelectedCars()">Delete Selected</button>
</div>
