<div class="container">
	<div [hidden]="carAdded">
		<h3 style="margin-top: 30px;">New Car Information <span style="font-size:small">* is a required field</span></h3>

		<form (ngSubmit)="onSubmit()">
			<mat-grid-list cols="4" rowHeight="80px">
				<mat-grid-tile [colspan]="4" [rowspan]="1">
					<mat-input-container>
						<input matInput id="name" type="text" required [(ngModel)]="newCar.name" name="name" placeholder="Name">
					</mat-input-container>
				</mat-grid-tile>
			</mat-grid-list>
			
			<mat-grid-list cols="4" rowHeight="80px">
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-input-container>
						<input matInput id="producator" type="text" required [(ngModel)]="newCar.producator" name="producator" placeholder="Producator">
					</mat-input-container>&nbsp;&nbsp;&nbsp;&nbsp;
				</mat-grid-tile>
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-input-container>
						<input matInput id="material" type="text" required [(ngModel)]="newCar.material" name="material" placeholder="Material">
					</mat-input-container>
				</mat-grid-tile>
			</mat-grid-list>

			<mat-grid-list cols="4" rowHeight="80px">
				<mat-grid-tile [colspan]="2" [rowspan]="1">					
					<mat-select placeholder="Category" id="category" name="category" [(ngModel)]="newCar.category">
						<mat-option value="Mechanic">Mechanic</mat-option>
						<mat-option value="Police">Police</mat-option>
						<mat-option value="Commun">Commun</mat-option>
						<mat-option value="Fireman">Fireman</mat-option>
						<mat-option value="Racing">Racing</mat-option>
					</mat-select>&nbsp;&nbsp;&nbsp;&nbsp;
				</mat-grid-tile>
			</mat-grid-list>

			<mat-grid-list cols="4" rowHeight="80px">
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-input-container>
						<input matInput id="varsta" type="number" [(ngModel)]="newCar.varsta" name="varsta" step="1" placeholder="Varsta">
					</mat-input-container>&nbsp;&nbsp;&nbsp;&nbsp;
				</mat-grid-tile>
			</mat-grid-list>

			<mat-grid-list cols="4" rowHeight="80px">
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-input-container>
						<input matInput id="listPrice" type="number" [(ngModel)]="newCar.listPrice" name="listPrice" step="0.01" placeholder="List Price">
					</mat-input-container>&nbsp;&nbsp;&nbsp;&nbsp;
				</mat-grid-tile>
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-input-container>
						<input matInput id="ourPrice" type="number" [(ngModel)]="newCar.ourPrice" name="ourPrice" step="0.01" placeholder="Our Price">
					</mat-input-container>
				</mat-grid-tile>
			</mat-grid-list>

			<mat-grid-list cols="4" rowHeight="80px">
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-input-container>
						<input matInput id="shippingWeight" type="number" [(ngModel)]="newCar.shippingWeight" name="shippingWeight" step="0.01" placeholder="Shipping Weight">
					</mat-input-container>&nbsp;ounces&nbsp;&nbsp;&nbsp;&nbsp;
				</mat-grid-tile>
			</mat-grid-list>

			<mat-grid-list cols="4" rowHeight="80px">
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-input-container>
						<input matInput id="inStockNumber" type="number" [(ngModel)]="newCar.inStockNumber" name="inStockNumber" step="0.01" placeholder="Numbers In Stock">
					</mat-input-container>&nbsp;&nbsp;&nbsp;&nbsp;
				</mat-grid-tile>
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-slide-toggle [color]="color" [checked]="checked" [disabled]="disabled" [(ngModel)]="newCar.active" name="active">Active</mat-slide-toggle>
				</mat-grid-tile>
			</mat-grid-list>

			<mat-input-container>
				<textarea matInput id="description" [(ngModel)]="newCar.description" name="description" placeholder="Description" required></textarea>
			</mat-input-container><br><br>

			Image &nbsp;
			<input id="tile" type="file" id="carImage" name="carImage"
			(change)="uploadImageService.fileChangeEvent($event)">
			<br><br>

			<mat-grid-list cols="20" rowHeight="80px">
				<mat-grid-tile [colspan]="2" [rowspan]="1">
						<button class="primary" mat-raised-button type="submit">Add Car</button>
				</mat-grid-tile>
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<a class="mat-warn" mat-raised-button routerLink="/">Cancel</a>
				</mat-grid-tile>
			</mat-grid-list>
			
		</form>
	</div>
	<div class="row" [hidden]="!carAdded">
		<h3>Car added successfully!</h3>
	</div>
</div>